body{
  
     background-image: linear-gradient(to left, #8ad4ff, #c5c8fc);
}


.textColor{
    color: rgb(255, 149, 11);
}
.btnReady{
    height: 2.5em;
    width: 8em;
    margin: auto;
    margin-right: 35px;
    padding: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(248, 177, 177);
    border-radius: 5px;
    box-shadow: 1px 2px black;
}
.btnReady:hover{
    color: azure;
    background-color: red;
}
.btninfo{
    height: 2.5em;
    width: 8em;
    margin: auto;
    padding: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(200, 184, 253);
    border-radius: 5px;
    box-shadow: 1px 2px black;
}
.btninfo:hover{
    color: azure;
    background-color: rgb(60, 0, 255);
}

.flexbtn{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}